@import "~normalize.css";
@import "~@blueprintjs/core/dist/blueprint.css";
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.repo, .issue {
  border: 1px solid #eee;
  margin-bottom: 10px;
  padding: 5px;
}
